{% extends 'paginas/layout.html' %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand hello-msg" href="#"> <span >Hola,{{request.user}}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav me-auto mb-2 mb-lg-0  ">
        <li  class="nav-item">
          <a class="nav-link " aria-current="page" href="{%  url 'main:index'  %}">HOME</a>
        </li>
        <li  class="nav-item">
          <div style="width:100%;" class="dropdown">
              <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
              CATEGORIAS
              </a>
              <div class="dropdown-menu">
                {% for categoria in  lista_categorias %}
                <a class="dropdown-item" href="{% url 'main:filtro_categorias' categoria.id%}">{{ categoria }}</a>
                {% endfor %}

              
              </div>
          </div>
      </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a style="width:100%;" class="nav-link " href="{%  url 'main:AcercaDe'  %}" tabindex="-1" aria-disabled="true">ACERCA DE</a>
        </li>
        <li class="nav-item">
          <a style="width:100%;" class="nav-link " href="{%  url 'main:Contacto'  %}" tabindex="-1" aria-disabled="true">CONTACTO</a>
        </li>
        {% if request.user.is_staff %}
        <li  class="nav-item">
          <a class="nav-link " href="{%  url 'main:nuevoProducto'  %}" tabindex="-1" aria-disabled="true">NUEVO PRODUCTO</a>
        </li>
        {% endif %}

      
        {% if user.is_authenticated %}

        <li class="logout-menu nav-item">
          <span id="user-name" class="hello-msg">Hola,{{request.user}}</span>
          <span class="hello-msg"><a class="nav-link " aria-current="page" href="{% url 'main:logout' %}">Logout</a> </span>
        </li>
        {% else %}
        <li class=" logout-menu nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'main:Paginalogin' %}">Login</a>
        </li>
        <li class=" logout-menu nav-item">
          <a class="nav-link" href="{% url 'main:registro' %}">Registro</a>
        </li>
        {% endif %}

        <li>

          
        </li>

     


      </ul>
      
      <form class=" d-flex" method="get" action= "{% url 'main:filtro_por_palabra' %}">
        {% csrf_token  %}
        <!-- <input class="form-control me-2" type="search" placeholder="BUSCAR" aria-label="Search" name="q">
        <button class="btn btn-primary" type="submit">BUSCAR</button> -->
        <div class="input-group mb-3">
          <input type="text" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2" name="q">
          
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
         
        </div>
        
      </form>

   
      
    </div>
  </div>
</nav>

  
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="{% url 'main:index' %}" class="btn btn-outline-primary">&#x2190; Seguir comprando</a>

            
            <a style="float:right; margin:5px;" class="btn btn-primary "  id="finalizar-compra" href="{% url 'main:finalizarCompra' %}" data-accion="finalizar-compra">Finalizar compra</a>

            <a style="float:right; margin:5px;" class="btn btn-primary "  id="vaciar-carrito" href="" data-accion="vaciar-carrito">Vaciar Carrito</a>


            <br>
            <br>
            <!-- <table class="table">
                <tr>
                    <th><h5>Productos: <strong>3</strong></h5></th>
                    <th><h5>Total: <strong>$42</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-primary "  id="vaciar-carrito" href="" data-accion="vaciar-carrito">Vaciar Carrito</a>
                    </th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-primary "  id="finalizar-compra" href="{% url 'main:finalizarCompra' %}" data-accion="finalizar-compra">Finalizar compra</a>
                    </th>
                </tr>

            </table> -->

        </div>

        <br>

        <div class="box-element row" >
            <div id="encabezado-tabla-carrito" class="cart-row">
                <div style="flex:2">

                </div>
                <div style="flex:2">
                   <strong> Item </strong>
                </div>
                <div style="flex:1">
                    <strong>  Precio </strong>
                </div>
                <!-- <div style="flex:1">
                    <strong>  Cantidad </strong>
                </div> -->
                <div style="flex:1">
                    <strong>  Acción </strong>
                </div>
            </div>
            {% for producto in producto %}
            <div class="cart-row row" >
                <div class="col-xs-12  col-sm-12 col-md-12 " style="flex:2">
                    <img class="row-image" src="{{producto.imagen.url}}" alt="">
                </div>
                <div class="col-xs-12  col-sm-12 col-md-12 " style="flex:2">
                   <strong> {{producto.titulo }}</strong>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-12 " style="flex:1">
                    <strong>${{producto.precio}}  </strong>
                </div>
                <!-- <div style="flex:1">
                    <p class="quantity">2</p>
                    <div class="quantity">
                        <img src="{% static 'images/arrow-up.png' %}" alt="" class="chg-quantity">

                        <img src="{% static 'images/arrow-down.png' %}" alt="" class="chg-quantity">
                    </div>
                </div> -->
                <div class="col-xs-12  col-sm-12 col-md-12 " style="flex:1">
                   
                  <button data-producto="{{producto.id}}" data-accion="eliminar-item" class="btn btn-outline-primary add-btn borrar-item"> Eliminar </button>
                </div>
            </div>
            {% empty %}
            <li>No hay productos cargados en el carrito.</li>
            {% endfor %}



        </div>

        

        
    </div>

</div>



{% endblock content %}